<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      display: flex;
      
    }

    .card {
      width: 500px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin: 80px auto;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .card-text {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .card-footer {
      background-color: #f8f9fa;
      border-top: none;
      text-align: center;
      padding: 10px;
    }

    .btn-primary {
      background-color: #343a40 ;
      border-color: #343a40 ;
    }

    .btn-primary:hover {
      background-color: #0a0b0b;
      border-color: #0a0b0b;
    }
  </style>
  <title>Thông tin khách hàng</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Thông tin khách hàng</h2>
        <p class="card-text">Tên: <%= user.name %></p>
        <p class="card-text">Số điện Thoại: <%= user.sdt %></p>
        <p class="card-text">Email: <%= user.email %></p>
        <p class="card-text">Địa chỉ: <%= user.address %></p>
      </div>
      <div class="card-footer">
        <a href="/" class="btn btn-primary">Trở về</a>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>